.btn-group button {
    background-color: #04AA6D;
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
}
  
.btn-group button:not(:last-child) {
    border-bottom: none;
}

.btn-group button:hover {
    background-color: #3e8e41;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    margin: auto;
    width: 600px;
}

#top-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    flex-direction: column;
}

canvas {
    margin: 100px;
}

#bg-canvas {
    z-index: 3;
}

#gp-canvas {
    z-index: 2;
}

#ui-canvas {
    z-index: 1;
}
